*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:"#ecfof3";
    font-family: sans-serif;
    outline: none;
}
.cal
{
    margin-left: 70px;
    margin-top: 20px;
    color:rgb(75, 7, 211);
    justify-content: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.caluculator
{
    background-color:#ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 10px 10px 12px #ed58b9,
                       5px 5px 12px rgba(218, 6, 147, 0.789);
    display: grid;
    grid-template-columns: repeat(4,80px);
}
input
{
    grid-column: span 4;
    height: 70px;
    width: 300px;
    background-color: #e6edf2;
    box-shadow: inset  -5px -5px 12px #15b1f9,
                        5px 5px 12px rgba(0,0, 0, .16);
    border: none;
    border-radius: 40px;
    color: rgb(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;               
}
button
{
    height: 50px;
    width: 60px;
    background-color: #ecf0f3;
    box-shadow: inset  -5px -5px 12px #160ff1,
                        5px 5px 12px rgba(0,0, 0, .16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 20px;
}
button:hover
{
    background-color: #ff1e1e;
   
}
.equal
{
 width: 130px;
 border-radius: 40px;
 background-color: #ecf0f3;
 box-shadow: inset  -5px -5px 12px #ff1e1e,
                     5px 5px 12px rgba(0,0, 0, .16);

}
.equal:hover
{
  background-color: aqua;
}